/*-------------------Generali------------------*/

*{
    background-color: #010101;
    border: green 1px solid;
    margin: 0;
    color: #F0F0F0;
}

html{
    scroll-behavior: smooth;
}

@font-face {
font-family: Bau;
src: url(/Fonts/bauhaus-93/Bauhaus\ 93\ Regular.ttf);
}


h1{
    color: #F0F0F0;
    font-size: 46px;
    cursor: pointer;
    margin:20px;
    font-family: Bau;
}

h2{
    color: #F0F0F0;
    font-size: 32px;
    cursor: pointer;
    margin:20px;
    font-family: Bau;
    
}


p{
    line-height: 150%;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Roboto";
    font-size: 14px;
}


button{
    border: none;
    border-radius: 10px;
    color:#f0f0f0e1;
    background-color: #cd7d05e4;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 14px;
}

button:hover{
    color: #F0F0F0;
    background-color: #ef9a1b98;
    transition: 0.3s;
}

/*-------------------Menu------------------*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

.menu{
    display: flex;
    gap: 30px;
}

.h2h:hover{
    color: #EF9B1B;
    transition: 0.6s;
}

/*-------------------Hero section------------------*/

p{
    line-height: 150%;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Roboto";
}


.hero {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 30px 20px;
}


.process{
    display: flex;
    justify-content: center;
    align-items: center;
}

.process_one{
color: #E3D4B7;
}

.process_two{
    color: #EF9B1B;
}

.process_three{
    color: #E8542F;
}



/*-------------------Footer------------------*/

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon_footer{
    display: flex;
justify-content: flex-end;
margin: 20px;
}

