*{
    background-color: #010101;
    border: green 1px solid;
    margin: 0;
    color: #F0F0F0;
}

body {
font-family: Helvetica, Arial, sans-serif; 
}

@font-face {
    font-family: 'Bauhaus';
    src: url(Bauhaus/Bauhaus_.ttf);
}

h1, h2{
    color: #F0F0F0;
    font-size: 24px;
    cursor: pointer;
    font-size: 40px;
    margin:20px;
}

.about:hover{
    color: #EF9B1B;
    transition: 0.2s;
}

.portfolio:hover{
    color: #EF9B1B;
    transition: 0.6s;
}


p{
    line-height: 150%;
    margin-left: 20px;
    margin-right: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
}

.menu{
    display: flex;
    gap: 30px;
}

.hero {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 30px 20px;
}
